<% include ./include/head1%>
<% include ./include/head2%>
<% include ./include/nav%>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>
        <section class="no-padding-top no-padding-bottom">
         
        </section>
        <% include ./include/footer%>