<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="NACOSS DUES">
    <meta name="keywords" content="Staging, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NACOSS DUES</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/a/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/a/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/a/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/a/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/a/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/a/css/slick.css" type="text/css">
    <link rel="stylesheet" href="/a/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__text">
            <a href="#"><img src="/a/img/logo1.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__widget">
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="#"><img src="/a/img/logo1.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/admin">Admin</a></li>
                            <li> <a data-toggle="modal" data-target="#exampleModalCenter">
                                    <div class="w">
                                        Pay Dues</div>
                                </a></li>

                        </ul>
                    </nav>
                </div>





                <div class="col-lg-3">
                    <div class="header__widget">
                        <span>Call for any questions</span>
                        <h4>+2348145517716</h4>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="/a/img/11.jpg">
                <div class="hero__text">
                    <h2>NACOSS Payment Portal.</h2>
                    <a class="primary-btn normal-btn w" data-toggle="modal" data-target="#exampleModalCenter">
                        <div class="w"> Pay Dues</div>
                    </a>

                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="/a/img/11.jpg">
                <div class="hero__text">
                    <h2>Safe, Secure and Efficient.</h2>
                    <a class="primary-btn normal-btn w" data-toggle="modal" data-target="#exampleModalCenter">
                        <div class="w"> Pay Dues</div>
                    </a>

                </div>
            </div>
        </div>
        <div class="slide-num" id="snh-1"></div>
        <div class="slider__progress"><span></span></div>
    </section>
    <!-- Hero Section End -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Select Level</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a href="/pay">
                        <div class="b">100 Level</div>
                    </a>
                    <hr>
                    <a href="/pay">
                        <div class="b">200 Level</div>
                    </a>
                    <hr>
                    <a href="/pay">
                        <div class="b">300 Level</div>
                    </a>
                    <hr>
                    <a href="/pay">
                        <div class="b">400 Level</div>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title">
                            <span>Computer Science</span>
                            <h2>Online Payment Portal.</h2>
                        </div>
                        <div class="about__para__text">
                            <p>The system has been designed to efficiently process payment of student dues, it is safe
                                and secure with proper
                                encryption.
                            </p>
                            <p>Contact the support line for any questions or inquery.</p>
                        </div>
                        <a class="primary-btn normal-btn " data-toggle="modal" data-target="#exampleModalCenter">
                            Pay Dues
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__pic">
                        <div class="about__pic__inner">
                            <img src="/a/img/1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->





    <!-- Testimonial Section Begin -->
    <section class="testimonial spad set-bg" data-setbg="/a/img/testimonial-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Knowledge</span>
                        <h2>Fun Facts About Computers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial__carousel">
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>“The first electronic computer ENIAC weighed more than 27 tons and took up 1800
                                        square feet.”</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>“TYPEWRITER is the longest word that you can write using the letters only on one
                                        row of the keyboard of your computer.”</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>“Doug Engelbart invented the first computer mouse in around 1964 which was made
                                        of wood.”</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>“There are more than 5000 new computer viruses released every month.”</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-9">
                                    <p>“The first 1GB hard disk drive was announced in 1980 which weighed about 550
                                        pounds, and had a price tag of $40, 000.”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-7 col-sm-10 ">
                    <div class="testimonial__client">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Team Section Begin -->
    <section class="team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-6">
                    <div class="section-title">
                        <span>Executives</span>
                        <h2>Computer Science</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="team__btn">
                        <a class="primary-btn normal-btn" data-toggle="modal" data-target="#exampleModalCenter">
                            Pay Dues
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="team__item set-bg" data-setbg="/a/img/s.png">
                        <div class="team__text">
                            <div class="team__title">
                                <h5>Michael Mamman</h5>
                                <span>General Secretary</span>
                            </div>

                            <div class="team__social">
                                <a href="https://wa.me/+2347030034134"><i class="fa fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team__item set-bg" data-setbg="/a/img/p.png">
                        <div class="team__text">
                            <div class="team__title">
                                <h5>Ezeocha Manasseh Chukwududem </h5>
                                <span>President</span>
                            </div>

                            <div class="team__social">
                                <a href="https://wa.me/+2348059807918"><i class="fa fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team__item set-bg" data-setbg="/a/img/t.png">
                        <div class="team__text">
                            <div class="team__title">
                                <h5>James Hyeladzira Balami</h5>
                                <span>Treasurer</span>
                            </div>
                            <div class="team__social">
                                <a href="https://wa.me/+2348145517716"><i class="fa fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="/a/img/footer-bg.jpg">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="footer__top__text">
                        <h2>Payment of Dues are Compulsary</h2>
                    </div>
                </div>

            </div>
            <div class="copyright">
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="copyright__text">
                            <p>Copyright ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/a/js/jquery-3.3.1.min.js"></script>
    <script src="/a/js/bootstrap.min.js"></script>
    <script src="/a/js/jquery.slicknav.js"></script>
    <script src="/a/js/owl.carousel.min.js"></script>
    <script src="/a/js/slick.min.js"></script>
    <script src="/a/js/main.js"></script>
</body>

</html>