<div class="d-flex align-items-stretch">
    <!-- Sidebar Navigation-->
    <nav id="sidebar">
      <!-- Sidebar Header-->
    
      <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
      <ul class="list-unstyled">
        <li class="active"><a href="/admin/home"> <i class="icon-home"></i>Welcome </a></li>
        <li><a href="/admin/all"> <i class="icon-grid"></i>All Payments </a></li>
        <li><a href="/admin/search"> <i class="icon-magnifying-glass-browser"></i></i>Search </a></li>
        <li><a href="/admin/upload"> <i class="icon-logout"></i>Add Payment</a></li>
        <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Paystack Payments </a>
          <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
            <li><a href="/admin/level/paystack/100">100 Level</a></li>
            <li><a href="/admin/level/paystack/200">200 Level</a></li>
            <li><a href="/admin/level/paystack/300">300 Level</a></li>
            <li><a href="/admin/level/paystack/400">400 Level</a></li>
          </ul>
        </li>
        <li><a href="#exampledropdownDropdown1" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Direct Payments </a>
          <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
            <li><a href="/admin/level/cash/100">100 Level</a></li>
            <li><a href="/admin/level/cash/200">200 Level</a></li>
            <li><a href="/admin/level/cash/300">300 Level</a></li>
            <li><a href="/admin/level/cash/400">400 Level</a></li>
          </ul>
        </li>
        <li><a href="#"> <i class="icon-logout"></i>Paystack Route </a></li>
        <li><a href="/admin/export_nacoss.json"> <i class="icon-logout"></i>Export Database </a></li>
      </ul>
     
    </nav>