<div style="border: aqua;">
    <div class="container">
        <form action="./search" method="post">
            <label for="name"> Search by First or last Name, or Matric or email</label>
        <input type="search" name="name">
        </form>
    </div>
</div>